.right {
  justify-content: flex-end !important;
}
.left {
  justify-content: flex-start !important;
}

.right-bubble {
  background-color: rgb(161, 211, 235);
}

.left-bubble {
  background-color: #f7ea6e;
}

.left-block {
  display: flex;
}

.right-block {
  display: flex;
}
